.pink {
    background: deeppink;
}

.dark-text {
    color: aliceblue;
}

.purple {
    background: #895dd5;
}

.red-text {
    color: aqua;
}

.slategrey {
    background: slategrey;
}

.some-text {
    color: darkslateblue;

}
.rosybrown {
    background: rosybrown;
}
.lightseagreen {
    background: lightseagreen;
}
