
.affairItem {
    display: flex;

    align-items: center;
}

.affairItem span {
    width: 150px;
    padding: 5px;
    border-bottom: 1px solid #000000;
}

.affairItem button {
    height: 20px;
    width: 70px;
    border: lightslategrey;
    background-color: purple;
    color: black;
}
